/* RESET CSS */
* { 
  margin: 0; padding: 0; box-sizing: border-box;
  color: #333; font-family: sans-serif;
 }
ul{ list-style: none; }
a{ display: block; color: inherit; text-decoration: none; }
table{ width: 100%; border-collapse: collapse; }
button{ cursor: pointer; }
img{ width: 100%; max-width: 100%; }
i{ color: inherit; }

body{
  background-color: #eee;
}